@using Microsoft.AspNetCore.Authentication
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Http
@{
    Layout = null;
    System.Security.Claims.Claim userFirstName = null;
    System.Security.Claims.Claim userLastName = null;
    // System.Security.Claims.Claim userRole = null;
    List<string> userRoleName = null;
    //System.Security.Claims.Claim userUniversityID = null;
    //System.Security.Claims.Claim userOrganizationUnitID = null;
    //System.Security.Claims.Claim userOrganizationOfficeID = null;
    //System.Security.Claims.Claim userUniversityName = null;
    //System.Security.Claims.Claim userOrganizationUnitTitle = null;
    //System.Security.Claims.Claim userOrganizationOfficeTitle = null;
    //System.Security.Claims.Claim userHasVisitingResponsibility = null;
    //System.Security.Claims.Claim userImpersonation = null;
    //System.Security.Claims.Claim originalUsername = null;
    var UserRoleNameShowToUser = "";
}


@if (User.Identity.IsAuthenticated)
{

    var claimsIdentity = User.Identity as System.Security.Claims.ClaimsIdentity;

    if (claimsIdentity != null)
    {
        userFirstName = claimsIdentity.FindFirst("Given_Name");
        userLastName = claimsIdentity.FindFirst("family_name");
        userRoleName = claimsIdentity.FindAll("role").Select(a => a.Value).ToList();

        //userUniversityID = claimsIdentity.FindFirst("UniversityID");
        //userOrganizationUnitID = claimsIdentity.FindFirst("OrganizationUnitID");
        //userOrganizationOfficeID = claimsIdentity.FindFirst("OrganizationOfficeID");
        //userOrganizationOfficeTitle = claimsIdentity.FindFirst("OrganizationOfficeTitle");
        //userOrganizationUnitTitle = claimsIdentity.FindFirst("OrganizationUnitTitle");
        //userImpersonation = claimsIdentity.FindFirst("UserImpersonation");
        //originalUsername = claimsIdentity.FindFirst("OriginalUsername");
    }
}
else
{

}

@{
    ViewBag.lang = "en";
}
<html lang="en" dir="@(((string)ViewBag.lang=="fa")?"rtl":"")">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--favicon-->
    <link rel="icon" href="/PanelContent/ltr/assets/images/favicon-32x32.png" type="image/png" />

    <!--plugins-->
     <!--plugins-notifications-->
    <link rel="stylesheet" href="/PanelContent/ltr/assets/plugins/notifications/css/lobibox.min.css" />

    <link href="/PanelContent/ltr/assets/plugins/datatable/css/dataTables.bootstrap5.min.css" rel="stylesheet" />

    <link href="/PanelContent/ltr/assets/plugins/input-tags/css/tagsinput.css" rel="stylesheet" />

    <link href="/PanelContent/ltr/assets/plugins/smart-wizard/css/smart_wizard_all.min.css" rel="stylesheet" type="text/css" />

    <!--plugins-upload-->
    <link href="/PanelContent/ltr/assets/plugins/fancy-file-uploader/fancy_fileupload.css" rel="stylesheet" />
	<link href="/PanelContent/ltr/assets/plugins/Drag-And-Drop/dist/imageuploadify.min.css" rel="stylesheet" />

     <!--plugins persian datepicker -->
    <link href="/PanelContent/ltr/assets/plugins/datetimepicker/css/classic.css" rel="stylesheet" />
	<link href="/PanelContent/ltr/assets/plugins/datetimepicker/css/classic.time.css" rel="stylesheet" />
    <link href="/PanelContent/ltr/assets/plugins/datetimepicker/css/classic.date.css" rel="stylesheet" />
	<link href="@(((string)ViewBag.lang=="fa")?"/PanelContent/rtl/assets/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.min.css":"/PanelContent/ltr/assets/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.min.css")" rel="stylesheet">
    
    <!--plugins select2 -->
	<link href="@(((string)ViewBag.lang=="fa")?"/PanelContent/rtl/assets/plugins/select2/css/select2.min.css":"/PanelContent/ltr/assets/plugins/select2/css/select2.min.css")"  rel="stylesheet" />
    <link href="@(((string)ViewBag.lang=="fa")?"/PanelContent/rtl/assets/plugins/select2/css/select2-bootstrap4.css":"/PanelContent/ltr/assets/plugins/select2/css/select2-bootstrap4.css")"  rel="stylesheet" />

    <!--plugins necessary -->
    <link href="/PanelContent/ltr/assets/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
    <link href="/PanelContent/ltr/assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" />
    <link href="/PanelContent/ltr/assets/plugins/metismenu/css/metisMenu.min.css" rel="stylesheet" />

    <!-- loader-->
    <link href="/PanelContent/ltr/assets/css/pace.min.css" rel="stylesheet" />
    <script src="/PanelContent/ltr/assets/js/pace.min.js"></script>

    <!-- Bootstrap CSS -->
    <link href="@(((string)ViewBag.lang=="fa")?"/PanelContent/rtl/assets/css/bootstrap.min.css":"/PanelContent/ltr/assets/css/bootstrap.min.css")" rel="stylesheet">
    <link href="@(((string)ViewBag.lang=="fa")?"/PanelContent/rtl/assets/css/bootstrap-extended.css":"/PanelContent/ltr/assets/css/bootstrap-extended.css")" rel="stylesheet">
    <link href="@(((string)ViewBag.lang=="fa")?"/PanelContent/rtl/assets/css/app.css":"/PanelContent/ltr/assets/css/app.css")" rel="stylesheet">
    <link href="/PanelContent/rtl/assets/css/icons.css" rel="stylesheet">
    <!-- Theme Style CSS -->
    <link rel="stylesheet" href="/PanelContent/ltr/assets/css/dark-theme.css" />
    <link rel="stylesheet" href="/PanelContent/ltr/assets/css/semi-dark.css" />
    <link rel="stylesheet" href="/PanelContent/ltr/assets/css/header-colors.css" />

    <title>@ViewData["Title"] - MicroStruct.Web</title>
</head>
<body class="@(((string)ViewBag.lang=="fa")?"rtl":"")">
    <!--wrapper-->
    <div class="wrapper">
        <!--sidebar wrapper -->
        <div class="sidebar-wrapper" data-simplebar="true">
            <div class="sidebar-header">
                <div>
                    <img src="/PanelContent/ltr/assets/images/logo-icon.png" class="logo-icon" alt="logo icon">
                </div>
                <div>
                    <h4 class="logo-text">LF Transparency</h4>
                </div>
                <div class="toggle-icon ms-auto">
                    <i class="bx @(((string)ViewBag.lang=="fa")?"bx-last-page":"bx-first-page")"></i>
                    @*<i class="bx bx-last-page" ></i>*@
                </div>
            </div>
            <!--navigation-->
            <ul class="metismenu" id="menu">
                <li>
                    <a class="has-arrow" href="/">
                        <div class="parent-icon">
                            <i class='lni lni-dashboard'></i>
                        </div>
                        <div class="menu-title">Dashboard</div>
                    </a>
                    <ul>
                        <li>
                            <a href="#"><i class="bx bx-right-arrow-alt"></i>Total Dashboard</a>
                        </li>
                        <li>
                            <a href="#"><i class="bx bx-right-arrow-alt"></i>Financial Dashboard</a>
                        </li>
                       
                    </ul>
                </li>

                
                <li class="menu-label">Actions</li>
                <li>
                    <a class="has-arrow" href="/Home/Cartable">
                        <div class="parent-icon">
                            <i class='bx bx-task'></i>
                        </div>
                        <div class="menu-title">Requests</div>
                    </a>
                   
                </li>
                <li>
                    <a class="has-arrow" href="/Home/Calendar">
                        <div class="parent-icon">
                            <i class="bx bx-calendar"></i>
                        </div>
                        <div class="menu-title">Sessions</div>
                    </a>
                    
                </li>
                <li class="menu-label">Management</li>

                 <li>
                    <a href="/Workflow/">
                        <div class="parent-icon">
                            <i class='fadeIn animated bx bx-analyse'></i>
                        </div>
                        <div class="menu-title">Workflow Models</div>
                    </a>
                </li>
                 <li>
                    <a class="has-arrow" href="javascript:;">
                        <div class="parent-icon">
                            <i class='bx bx-wrench'></i>
                        </div>
                        <div class="menu-title">Settings</div>
                    </a>
                    <ul>
                        <li>
                            <a href="#"><i class="bx bx-right-arrow-alt"></i>Loan request types</a>
                        </li>
                        <li>
                            <a href="#"><i class="bx bx-right-arrow-alt"></i>Request types validity periods</a>
                        </li>
                       
                    </ul>
                </li>

                <li class="menu-label">General</li>
               
                <li>
                    <a href="/home/UserProfile">
                        <div class="parent-icon">
                            <i class='bx bx-user-pin'></i>
                        </div>
                        <div class="menu-title">My Profile</div>
                    </a>
                </li>
               
                <li>
                    <a href="faq.html">
                        <div class="parent-icon">
                            <i class="bx bx-help-circle"></i>
                        </div>
                        <div class="menu-title">FAQ</div>
                    </a>
                </li>

            </ul>
            <!--end navigation-->
        </div>
        <!--end sidebar wrapper -->
        <!--start header -->
        <header>
            <div class="topbar d-flex align-items-center">
                <nav class="navbar navbar-expand">
                    <div class="mobile-toggle-menu">
                        <i class='bx bx-menu'></i>
                    </div>
                    <div class="top-menu-left d-none d-lg-block">
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link" href="app-emailbox.html"><i class='bx bx-envelope'></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="app-chat-box.html"><i class='bx bx-message'></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="app-fullcalender.html"><i class='bx bx-calendar'></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="app-to-do.html"><i class='bx bx-check-square'></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="search-bar flex-grow-1">
                        <div class="position-relative search-bar-box">
                            <input type="text" class="form-control search-control" placeholder="Search ..."> <span class="position-absolute top-50 search-show translate-middle-y"><i class='bx bx-search'></i></span>
                            <span class="position-absolute top-50 search-close translate-middle-y"><i class='bx bx-x'></i></span>
                        </div>
                    </div>
                    <div class="top-menu ms-auto">
                        <ul class="navbar-nav align-items-center">
                            <li class="nav-item mobile-search-icon">
                                <a class="nav-link" href="#">
                                    <i class='bx bx-search'></i>
                                </a>
                            </li>
                           
                            <li class="nav-item dropdown dropdown-large">
                                <a class="nav-link dropdown-toggle dropdown-toggle-nocaret position-relative" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="alert-count">7</span>
                                    <i class='bx bx-bell'></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a href="javascript:;">
                                        <div class="msg-header">
                                            <p class="msg-header-title">Alerts</p>
                                            <p class="msg-header-clear ms-auto">Mark as read</p>
                                        </div>
                                    </a>
                                    <div class="header-notifications-list">
                                        <a class="dropdown-item" href="javascript:;">
                                            <div class="d-flex align-items-center">
                                                <div class="notify bg-light-primary text-primary">
                                                    <i class="bx bx-group"></i>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h6 class="msg-name">New users<span class="msg-time float-end">14 secends ago</span></h6>
                                                    <p class="msg-info">5 New users registered</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="dropdown-item" href="javascript:;">
                                            <div class="d-flex align-items-center">
                                                <div class="notify bg-light-danger text-danger">
                                                    <i class="bx bx-cart-alt"></i>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h6 class="msg-name">A new request registered <span class="msg-time float-end">2 minuts ago</span></h6>
                                                    <p class="msg-info">A new request has been registered</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="dropdown-item" href="javascript:;">
                                            <div class="d-flex align-items-center">
                                                <div class="notify bg-light-success text-success">
                                                    <i class="bx bx-file"></i>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h6 class="msg-name">24 Documents uploaded <span class="msg-time float-end">19 minuts ago </span></h6>
                                                    <p class="msg-info">24 Documents uploaded for the loan request</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="dropdown-item" href="javascript:;">
                                            <div class="d-flex align-items-center">
                                                <div class="notify bg-light-warning text-warning">
                                                    <i class="bx bx-send"></i>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h6 class="msg-name">A new request registered <span class="msg-time float-end">2 minuts ago</span></h6>
                                                    <p class="msg-info">A new request has been registered</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="dropdown-item" href="javascript:;">
                                            <div class="d-flex align-items-center">
                                                <div class="notify bg-light-info text-info">
                                                    <i class="bx bx-home-circle"></i>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h6 class="msg-name">
                                                        Loan final acceptance <span class="msg-time float-end">2 hours ago</span>
                                                    </h6>
                                                    <p class="msg-info">The acceptance workflow of the loan finished with ....</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="dropdown-item" href="javascript:;">
                                            <div class="d-flex align-items-center">
                                                <div class="notify bg-light-danger text-danger">
                                                    <i class="bx bx-message-detail"></i>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h6 class="msg-name">Comment added to the request <span class="msg-time float-end">4 hours ago</span></h6>
                                                    <p class="msg-info">New comment added to the loan request</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="dropdown-item" href="javascript:;">
                                            <div class="d-flex align-items-center">
                                                <div class="notify bg-light-success text-success">
                                                    <i class='bx bx-check-square'></i>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h6 class="msg-name">Loan financial calculations finished <span class="msg-time float-end">5 hours ago</span></h6>
                                                    <p class="msg-info">Loan financial calculations finished successfully</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="dropdown-item" href="javascript:;">
                                            <div class="d-flex align-items-center">
                                                <div class="notify bg-light-primary text-primary">
                                                    <i class='bx bx-user-pin'></i>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h6 class="msg-name">Comment added to the request<span class="msg-time float-end">2 days ago</span></h6>
                                                    <p class="msg-info">New comment added to the loan request</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="dropdown-item" href="javascript:;">
                                            <div class="d-flex align-items-center">
                                                <div class="notify bg-light-warning text-warning">
                                                    <i class='bx bx-door-open'></i>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h6 class="msg-name">Loan final acceptance <span class="msg-time float-end">2 weeks ago</span></h6>
                                                    <p class="msg-info">The acceptance workflow of the loan finished with success and the loan request was REJECTED</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <a href="javascript:;">
                                        <div class="text-center msg-footer">See all alerts</div>
                                    </a>
                                </div>
                            </li>
                            <li class="nav-item dropdown dropdown-large">
                                <a class="nav-link dropdown-toggle dropdown-toggle-nocaret position-relative" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="alert-count">8</span>
                                    <i class='bx bx-comment'></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a href="javascript:;">
                                        <div class="msg-header">
                                            <p class="msg-header-title">Messages</p>
                                            <p class="msg-header-clear ms-auto">Mark all as read</p>
                                        </div>
                                    </a>
                                    <div class="header-message-list">
                                        <a class="dropdown-item" href="javascript:;">
                                            <div class="d-flex align-items-center">
                                                <div class="user-online">
                                                    <img src="/PanelContent/ltr/assets/images/avatars/avatar-1.png" class="msg-avatar" alt="user avatar">
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h6 class="msg-name">Philip Torre <span class="msg-time float-end">15 seconds ago</span></h6>
                                                    <p class="msg-info">Hi George, Did you attend the meeting ...</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="dropdown-item" href="javascript:;">
                                            <div class="d-flex align-items-center">
                                                <div class="user-online">
                                                    <img src="/PanelContent/ltr/assets/images/avatars/avatar-2.png" class="msg-avatar" alt="user avatar">
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h6 class="msg-name">Marta Gonzales <span class="msg-time float-end">4 minuts ago</span></h6>
                                                    <p class="msg-info">George we are going to change session ...</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="dropdown-item" href="javascript:;">
                                            <div class="d-flex align-items-center">
                                                <div class="user-online">
                                                    <img src="/PanelContent/ltr/assets/images/avatars/avatar-3.png" class="msg-avatar" alt="user avatar">
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h6 class="msg-name">Mark Mclaren<span class="msg-time float-end">8 minuts ago</span></h6>
                                                    <p class="msg-info">Here is the link to the content I ...</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="dropdown-item" href="javascript:;">
                                            <div class="d-flex align-items-center">
                                                <div class="user-online">
                                                    <img src="/PanelContent/ltr/assets/images/avatars/avatar-4.png" class="msg-avatar" alt="user avatar">
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h6 class="msg-name">Sarah Shepherd<span class="msg-time float-end">15 minuts ago</span></h6>
                                                    <p class="msg-info">Sure it will make me angry if I see...</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="dropdown-item" href="javascript:;">
                                            <div class="d-flex align-items-center">
                                                <div class="user-online">
                                                    <img src="/PanelContent/ltr/assets/images/avatars/avatar-5.png" class="msg-avatar" alt="user avatar">
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h6 class="msg-name">Ali Fionel <span class="msg-time float-end">22 minuts ago</span></h6>
                                                    <p class="msg-info">Wow! you're awesome!</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="dropdown-item" href="javascript:;">
                                            <div class="d-flex align-items-center">
                                                <div class="user-online">
                                                    <img src="/PanelContent/ltr/assets/images/avatars/avatar-6.png" class="msg-avatar" alt="user avatar">
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h6 class="msg-name">Lucy Winter <span class="msg-time float-end">2 hours ago</span></h6>
                                                    <p class="msg-info">Thanks!</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="dropdown-item" href="javascript:;">
                                            <div class="d-flex align-items-center">
                                                <div class="user-online">
                                                    <img src="/PanelContent/ltr/assets/images/avatars/avatar-7.png" class="msg-avatar" alt="user avatar">
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h6 class="msg-name">Sebastian Nelson<span class="msg-time float-end">2 days ago</span></h6>
                                                    <p class="msg-info">Hi!</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="dropdown-item" href="javascript:;">
                                            <div class="d-flex align-items-center">
                                                <div class="user-online">
                                                    <img src="/PanelContent/ltr/assets/images/avatars/avatar-8.png" class="msg-avatar" alt="user avatar">
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h6 class="msg-name">Olivia  Cyrus<span class="msg-time float-end">6 days ago</span></h6>
                                                    <p class="msg-info">Take alook at here:</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="dropdown-item" href="javascript:;">
                                            <div class="d-flex align-items-center">
                                                <div class="user-online">
                                                    <img src="/PanelContent/ltr/assets/images/avatars/avatar-9.png" class="msg-avatar" alt="user avatar">
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h6 class="msg-name">Michael Agosto <span class="msg-time float-end">6 days ago</span></h6>
                                                    <p class="msg-info">No way man! you're wrong!'</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="dropdown-item" href="javascript:;">
                                            <div class="d-flex align-items-center">
                                                <div class="user-online">
                                                    <img src="/PanelContent/ltr/assets/images/avatars/avatar-10.png" class="msg-avatar" alt="user avatar">
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h6 class="msg-name">Samir Vettel <span class="msg-time float-end">7 days ago</span></h6>
                                                    <p class="msg-info">Follow Sebastian on twitter so you ...</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="dropdown-item" href="javascript:;">
                                            <div class="d-flex align-items-center">
                                                <div class="user-online">
                                                    <img src="/PanelContent/ltr/assets/images/avatars/avatar-11.png" class="msg-avatar" alt="user avatar">
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h6 class="msg-name">Reza Nickson <span class="msg-time float-end">8 days ago</span></h6>
                                                    <p class="msg-info">I have no Idea about what has been ...</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <a href="javascript:;">
                                        <div class="text-center msg-footer">See all messages</div>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                   

                      @if (User.Identity.IsAuthenticated)
                    {
                        <div class="user-box dropdown">
                            <a class="d-flex align-items-center nav-link dropdown-toggle dropdown-toggle-nocaret" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="/PanelContent/ltr/assets/images/avatars/avatar-5.png" class="user-img" alt="user avatar">

                                <div class="user-info ps-3">
                                    <p class="user-name mb-0">
                                        @(userFirstName != null ? userFirstName.Value : "")<text>&nbsp;</text>@(userLastName != null ? userLastName.Value : "")
                                    </p>
                                    <p class="designattion mb-0">@(userRoleName != null ? userRoleName.FirstOrDefault() : "")  </p>
                                </div>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li>
                                    <a class="dropdown-item" href="javascript:;"><i class="bx bx-user"></i><span>Profile</span></a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/"><i class='lni lni-dashboard'></i><span>Dashboard</span></a>
                                </li>

                                <li>
                                    <div class="dropdown-divider mb-0"></div>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-action="Logout" asp-controller="Home">
                                        <i class='bx bx-log-out-circle'></i>
                                        Logout
                                    </a>
                                </li>
                            </ul>
                        </div>
                    }
                    else
                    {

                        <a class="nav-link" asp-action="Login" asp-controller="Home">
                            Login
                        </a>

                    }
                </nav>
            </div>
        </header>
        <!--end header -->
        <!--start page wrapper -->
        <div class="page-wrapper">
            <div class="page-content">
                @RenderBody()
            </div>
        </div>
        <!--end page wrapper -->
        <!--start overlay-->
        <div class="overlay toggle-icon"></div>
        <!--end overlay-->
        <!--Start Back To Top Button--> <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
        <!--End Back To Top Button-->
        <footer class="page-footer">
            <p class="mb-0"> © 2022.  All Rights Reserved.</p>
        </footer>
    </div>
    <!--end wrapper-->
  

    <!--start Bootstrap JS -->
    <script src="/PanelContent/rtl/assets/js/bootstrap.bundle.min.js"></script>
    <!--end Bootstrap JS -->

    <!--start plugins-->

    <!--start necessary plugins-->
    <script src="/PanelContent/rtl/assets/js/jquery.min.js"></script>
    <script src="/PanelContent/rtl/assets/plugins/simplebar/js/simplebar.min.js"></script>
    <script src="/PanelContent/rtl/assets/plugins/metismenu/js/metisMenu.min.js"></script>
    <script src="/PanelContent/rtl/assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
    <!--end necessary plugins-->

    <script src="/PanelContent/rtl/assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
    <script src="/PanelContent/rtl/assets/plugins/datatable/js/dataTables.bootstrap5.min.js"></script>

    <script src="/PanelContent/rtl/assets/plugins/input-tags/js/tagsinput.js"></script>

    <script src="/PanelContent/rtl/assets/plugins/smart-wizard/js/jquery.smartWizard.min.js"></script>

    <script src='/PanelContent/rtl/assets/plugins/tinymce-rtl/tinymce.js'></script>
	<script src='@(((string)ViewBag.lang=="fa")?"/PanelContent/rtl/assets/plugins/ckeditor/ckeditor.js":"") '></script>

    <script src="/PanelContent/rtl/assets/plugins/fancy-file-uploader/jquery.ui.widget.js"></script>
	<script src="/PanelContent/rtl/assets/plugins/fancy-file-uploader/jquery.fileupload.js"></script>
	<script src="/PanelContent/rtl/assets/plugins/fancy-file-uploader/jquery.iframe-transport.js"></script>
	<script src="/PanelContent/rtl/assets/plugins/fancy-file-uploader/jquery.fancy-fileupload.js"></script>
	<script src="/PanelContent/rtl/assets/plugins/Drag-And-Drop/dist/imageuploadify.min.js"></script>

    <script src="/PanelContent/rtl/assets/plugins/datetimepicker/js/legacy.js"></script>
	<script src="/PanelContent/rtl/assets/plugins/datetimepicker/js/picker.js"></script>
	<script src="/PanelContent/rtl/assets/plugins/datetimepicker/js/picker.time.js"></script>
	<script src="/PanelContent/rtl/assets/plugins/datetimepicker/js/picker.date.js"></script>
	<script src="/PanelContent/rtl/assets/plugins/persiandatepicker/persian-date-0.1.8.min.js"></script>
	<script src="/PanelContent/rtl/assets/plugins/persiandatepicker/persian-datepicker-0.4.5.min.js"></script>
	<script src="/PanelContent/rtl/assets/plugins/bootstrap-material-datetimepicker/js/moment.min.js"></script>
	<script src="/PanelContent/rtl/assets/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.min.js"></script>

    <script src="/PanelContent/rtl/assets/plugins/select2/js/select2.min.js"></script>

    <!--notification js -->
	<script src="/PanelContent/rtl/assets/plugins/notifications/js/lobibox.min.js"></script>
	<script src="/PanelContent/rtl/assets/plugins/notifications/js/notifications.min.js"></script>
	<script src="/PanelContent/rtl/assets/plugins/notifications/js/notification-custom-script.js"></script>

     <!--end plugins-->

    <!--start app JS-->
    @await RenderSectionAsync("Scripts", required: false)
    <script src="/PanelContent/rtl/assets/js/app.js"></script>
    @await RenderSectionAsync("LastScripts", required: false)
     <!--end app JS-->
</body>

</html>